/* import PlayFair font */

@font-face {
    font-family: "PlayfairDisplay";
    src: url(../fonts/playfair-display-v30-latin/playfair-display-v30-latin-regular.woff),
    url(../fonts/playfair-display-v30-latin/playfair-display-v30-latin-regular.ttf),
    url(../fonts/playfair-display-v30-latin/playfair-display-v30-latin-regular.woff2);
    font-weight: normal;
}

/* import Lato font */
@font-face {
    font-family: "Lato";
    src: url(../fonts/lato-v23-latin/lato-v23-latin-regular.woff),
    url(../fonts/lato-v23-latin/lato-v23-latin-regular.ttf),
    url(../fonts/lato-v23-latin/lato-v23-latin-regular.woff2);
    font-weight: normal;
}



html {
    font-size: 125%;
}
.headnavbar {
   
    li {
        color: $white;
        font-family: $secondaryFont;
    }
}

h1 {
    font-size: 2.33rem;
    color: $white;
 }

h2 {
    font-size: 1rem;
    font-family: $secondaryFont;
    color: $white;
    text-transform: uppercase;
    
}

h4 {
    font-family: $primaryFont;
    font-size: 1.3rem;
}
h6 {
    font-family: $primaryFont;
    text-transform: none;
    font-size: 80px;
    color: $white;
}

h5 {
    font-family: $secondaryFont;
    font-size: 28px;
    color: $palegrey;
    text-transform: uppercase;
}

p {
    font-family: $secondaryFont;
    font-size: 14px;
}



footer {
    p {
            font-family: $secondaryFont;
            color: $grey;
        }
    .contact {
        text-transform: uppercase;
       
    }    
    .footernav {
        a {
            color: $white;
            text-transform: uppercase;
            font-family: $secondaryFont;
            font-size: 12px;
        }
}
}

button {
    font-family: $secondaryFont;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

.midnav {
    .midnavtext {
        
        color: $white;
        font-family: $primaryFont;
        font-size: 28px;
        font-weight: bold;
    }
}