/* Site Font */
$primaryFont: "PlayfairDisplay";
$secondaryFont: "Lato";

/* Site Font Size */
$baseFontSize: 1rem;

/* Site Color */
$accent: #E7A8e6;
$blackshade: #1F2022;
$black: #000000;
$blacktwo: #232323;
$grey: #D8D8D8;
$palegrey: #F0F5FF;
$white: #FCFCFC;